@model GWI.Models.Pessoas.Pessoas

@{
    ViewData["Title"] = "AcessarPerfilUsuario";
    int p_id = Model.p_id;
}


<!--  /main desktop/  -->
<main class="pag_sem_cotacoes">
    <section class="section-perfil">
        <img src="">

        <a asp-controller="Pessoas" asp-action="Edit" asp-route-id="@Model.p_id">Editar Perfil</a>

        <h2>@Html.DisplayFor(model => model.p_username)</h2>

        <p>@Html.DisplayFor(model => model.p_nome) @Html.DisplayFor(model => model.p_sobrenome)</p>
        <p>@Html.DisplayFor(model => model.p_telefone)</p>
        <p>@Html.DisplayFor(model => model.p_email)</p>

        <a asp-controller="PessoasCurriculos" asp-action="Index" asp-route-id="@p_id">Add Infos Curriculo</a>

        <h3>Meus Curriculos</h3>
        <button>Editar Curriculos</button>
        <!-- carrossel de curriculos-->
        <div></div>

        <h3>Noticias Favoritas</h3>
        <a>Editar Favoritos</a>
        <!-- carrossel de noticias salvas-->
        <div></div>
    </section>
</main>