@model GWI.Models.Noticias.Noticias

@{
    ViewData["Title"] = "Create";
}
<!--  /main desktop/  -->
<main class="pag_sem_cotacoes">
    <!-- pagina de cadastro de usuario -->
    <section class="secao-cadastro">
        <h2 class="titulo-cadastro">Cadastro</h2>

        <a asp-controller="Noticias" asp-action="Index">
            <button class="cadastro-close-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#141414" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
        </a>

        <form class="form-cadastro" asp-controller="Noticias" asp-action="Create" asp-route-p_id="@ViewBag.p_id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="nt_titulo" class="label-cadastro" for="nt_titulo">Titulo:</label>
            <input asp-for="nt_titulo" class="input-cadastro" type="text" name="nt_titulo" placeholder="Titulo">
            <span asp-validation-for="nt_titulo" class="text-danger"></span>

            <label asp-for="nt_subtitulo" class="label-cadastro" for="nt_subtitulo">Subtitulo:</label>
            <input asp-for="nt_subtitulo" class="input-cadastro" type="text" name="nt_subtitulo" placeholder="Subtitulo">
            <span asp-validation-for="nt_subtitulo" class="text-danger"></span>

            <label asp-for="nt_texto" class="label-cadastro" for="nt_texto">Texto:</label>
            <input asp-for="nt_texto" class="input-cadastro" type="text" name="nt_texto" placeholder="Corpo">
            <span asp-validation-for="nt_texto" class="text-danger"></span>

            <label asp-for="nt_data_publicacao" class="label-cadastro" for="nt_data_publicacao">Data:</label>
            <input asp-for="nt_data_publicacao" class="input-cadastro" type="date" name="nt_data_publicacao" placeholder="DD/MM/AAAA">
            <span asp-validation-for="nt_data_publicacao" class="text-danger"></span>


            <h2>Categorias e Subcategorias</h2>
            <div class="accordion" id="accordionExample">


                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <div style="display: flex">
                            <input type="radio" asp-for="nt_cat_id" value="1" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" />
                            <button class="accordion-button" type="button">
                                Empregos
                            </button>
                        </div>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var subcategoria in ViewBag.SubcategoriasList)
                                {
                                    if (subcategoria.sct_cat_id == 1)
                                    {
                                        <li><input type="checkbox" value="@subcategoria.sct_id" name="nt_subcategorias"/>@subcategoria.sct_nome</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <div style="display: flex">
                            <input type="radio" asp-for="nt_cat_id" value="2" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" />
                            <button class="accordion-button collapsed" type="button">
                                Educação
                            </button>
                        </div>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var subcategoria in ViewBag.SubcategoriasList)
                                {
                                    if (subcategoria.sct_cat_id == 2)
                                    {
                                        <li><input type="checkbox" value="@subcategoria.sct_id" name="nt_subcategorias"/>@subcategoria.sct_nome</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <div style="display: flex">
                            <input type="radio" asp-for="nt_cat_id" value="3" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" />
                            <button class="accordion-button collapsed" type="button">
                                Esportes
                            </button>
                        </div>                        
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var subcategoria in ViewBag.SubcategoriasList)
                                {
                                    if (subcategoria.sct_cat_id == 3)
                                    {
                                        <li><input type="checkbox" value="@subcategoria.sct_id" name="nt_subcategorias"/>@subcategoria.sct_nome</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <div style="display: flex">
                            <input type="radio" asp-for="nt_cat_id" value="4" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" />
                            <button class="accordion-button collapsed" type="button">
                                Entretenimento
                            </button>
                        </div>                        
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var subcategoria in ViewBag.SubcategoriasList)
                                {
                                    if (subcategoria.sct_cat_id == 4)
                                    {
                                        <li><input type="checkbox" value="@subcategoria.sct_id" name="nt_subcategorias" />@subcategoria.sct_nome</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <div style="display: flex">
                            <input type="radio" asp-for="nt_cat_id" value="5" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" />
                            <button class="accordion-button collapsed" type="button">
                                Economia
                            </button>
                        </div>                        
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                @foreach (var subcategoria in ViewBag.SubcategoriasList)
                                {
                                    if (subcategoria.sct_cat_id == 5)
                                    {
                                        <li><input type="checkbox" value="@subcategoria.sct_id" name="nt_subcategorias" />@subcategoria.sct_nome</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="submit-cadastro">
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </section>
</main>