@model IEnumerable<GWI.Models.NoticiaImagemAutor>

@{
    ViewData["Title"] = "Index";
    int contador = 0;
    int contador2 = 0;
}


<!--  /main desktop/  -->
<main>
    
    <!--cotações-->
    <section id="section_cotacoes">
        <ul id="container_cotacoes">
            <li id="cotacao_item1" class="cotacao_item">
                <p>Dólar Americano R$4,92</p>
            </li>
            <li id="cotacao_item2" class="cotacao_item">
                <p>Euro R$5,31</p>
            </li>
            <li id="cotacao_item3" class="cotacao_item">
                <p>Iene Japônes R$0,035</p>
            </li>
            <li id="cotacao_item4" class="cotacao_item">
                <p>Libra Esterlina R$6,18</p>
            </li>
            <li id="cotacao_item5" class="cotacao_item">
                <p>Franco Suíço R$5,47</p>
            </li>
        </ul>
    </section>


    <!--cotações mobile-->
    <section id="carouselExampleFade" class="carousel slide carousel-fade">
        <div id="cotacao_mobile_inner" class="carousel-inner">
            <div class="carousel-item active">
                <p class="cotacao_mobile">Dólar Americano R$4,92</p>
            </div>
            <div class="carousel-item">
                <p class="cotacao_mobile">Euro R$5,31</p>
            </div>
            <div class="carousel-item">
                <p class="cotacao_mobile">Iene Japônes R$0,035</p>
            </div>
            <div class="carousel-item">
                <p class="cotacao_mobile">Libra Esterlina R$6,18</p>
            </div>
            <div class="carousel-item">
                <p class="cotacao_mobile">Franco Suíço R$5,47</p>
            </div>
        </div>
        <button id="cotacao_carousel_control_prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <svg class="carousel_control_icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button id="cotacao_carousel_control_next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <svg class="carousel_control_icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>


    <!--carrossel-->
    <section id="container_carrossel_e_adds">
        <div id="add_carrossel_1" class="container_add">
            <a class="carrossel_add" href="">
                <img src="~/img/index/add_carrossel_vetor.svg">
            </a>
        </div>
        <section id="carouselExampleIndicators" class="carousel slide image-fluid">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                    @foreach (var item in Model)
                    {
                        contador++;
                        if (contador<=5)
                        {
                        <div class="carousel-item active">
                            <img src="~/@Html.DisplayFor(modelItem => item.im_url)" class="d-block w-100 img_carrossel">
                            <a class="carousel-caption" asp-controller="Noticias" asp-action="Details" asp-route-id="@item.nt_id">
                                <h2 class="titulo_carrossel">@Html.DisplayFor(modelItem => item.nt_titulo)</h2>
                            </a>
                            <a asp-controller="Noticias" asp-action="Delete" asp-route-id="@item.nt_id">Deletar</a>
                        </div>
                        } else
                        {
                            break;
                        }

                    }
            </div>
            <button id="carousel_control_prev" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span id="carousel_prev_icon" aria-hidden="true">
                    <svg class="carousel_control_icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="carousel_control_next" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span id="carousel_next_icon" aria-hidden="true">
                    <svg class="carousel_control_icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
        <div id="add_carrossel_2" class="container_add">
            <a class="carrossel_add" href="#">
                <img src="~/img/index/add_carrossel_vetor.svg">
            </a>
        </div>
    </section>


    <!--artigos-->
    <div id="artigos_index" class="artigos">
        @foreach (var item in Model)
        {
            contador2++;
            if (contador2 > 5)
            {
                <article class="noticia_main">
                    <img src="~/@Html.DisplayFor(modelItem => item.im_url)">
                    <a asp-controller="Noticias" asp-action="Details" asp-route-id ="@item.nt_id">
                        <h4>@Html.DisplayFor(modelItem => item.nt_titulo)</h4>
                        <p class="descricao_da_noticia">@Html.DisplayFor(modelItem => item.nt_subtitulo)</p>
                    </a>
                    <a asp-controller="Noticias" asp-action="Delete" asp-route-id="@item.nt_id">Deletar</a>
                    <p class="informacoes_da_noticia">@Html.DisplayFor(modelItem => item.p_username) — @Html.DisplayFor(modelItem => item.nt_data_publicacao)</p>
                </article>
            }
        }
    </div>
</main>