@model IEnumerable<GWI.Models.Curriculos.ForExpArea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fe_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_instituicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_ano_ini)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_ano_ter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fe_descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ar_tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ar_nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fe_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fe_tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fe_nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fe_instituicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fe_ano_ini)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fe_ano_ter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fe_descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ar_tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ar_nome)
            </td>
            <td>
                    <a class="btn btn-primary" role="button" asp-controller="PessoasCurriculos" asp-action="Edit" asp-route-id="@item.fe_id" asp-route-p_id="@ViewBag.p_id">Editar</a>
            </td>
        </tr>
}
    </tbody>

</table>

<p>
    <a asp-controller="PessoasCurriculos" asp-action="Create" asp-route-p_id="@ViewBag.p_id">Create New</a>
</p>
